USE [master]
GO
/****** Object:  Database [CustomerDb]    Script Date: 10/30/2019 1:24:14 PM ******/
CREATE DATABASE [CustomerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerDb', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CustomerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerDb_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CustomerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerDb]
GO
USE [CustomerDb]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/30/2019 1:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[CreditCardNumber] [nvarchar](16) COLLATE Latin1_General_BIN2 ENCRYPTED WITH (COLUMN_ENCRYPTION_KEY = [CEK_CustomerDb], ENCRYPTION_TYPE = Deterministic, ALGORITHM = 'AEAD_AES_256_CBC_HMAC_SHA_256') NULL,
	[Total] [decimal](18, 2) ENCRYPTED WITH (COLUMN_ENCRYPTION_KEY = [CEK_CustomerDb], ENCRYPTION_TYPE = Deterministic, ALGORITHM = 'AEAD_AES_256_CBC_HMAC_SHA_256') NULL,
	[CreatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName], [CreditCardNumber], [Total], [CreatedDate]) VALUES (1, N'John', N'Doe', N'SqlBinary(97)', CAST(SqlBinary(81) AS Decimal(18, 2)), CAST(N'2019-10-23T19:15:54.7842722' AS DateTime2))
INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName], [CreditCardNumber], [Total], [CreatedDate]) VALUES (2, N'Jane', N'Smith', N'SqlBinary(97)', CAST(SqlBinary(81) AS Decimal(18, 2)), CAST(N'2019-10-23T19:31:18.6220016' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customer] OFF
USE [master]
GO
